
ul#nav {
  color: #232223;
  display:block;
  float:left;
  font: 16px/26px Georgia,"Times New Roman",Times,serif;
}
ul#nav,ul#nav ul {
  list-style:none;
}
ul#nav .subs {
  background-color: rgba(121,160,160,0.8);
  border:1px solid #887963;
  display:none;
  float:left;
  left:0;
  padding:10px;
  position:absolute;
  top:100%;
}
ul#nav li:hover>* {
  display:block;
}
ul#nav li:hover {
  position:relative;
}
ul#nav ul .subs {
  left:100%;
  position:absolute;
  top:0;
}
ul#nav ul {
  padding:0 5px 5px;
}
ul#nav li {
  display:inline;
  float:left;
}
ul#nav a {
  color: #353435;
  float: left;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 14px;
  min-width:60px;
  padding: 60px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 #B4C6C6;
  text-transform: uppercase;
}
ul#nav > li:hover > a {
  border-top: 5px solid #887963;
  color: #1e1e1e;
  padding-top: 55px;
}
ul#nav li a.current, ul#nav li a.current:hover {
  background: url("../assets/img/nav_current.png") no-repeat scroll center top transparent;
  border: medium none;
  color: #fff;
  padding-top: 60px;
  text-shadow: none;
}
ul#nav ul a {
  color:#000;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  text-shadow:#fff 0 0 0;

  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
}
ul#nav ul li:hover>a {
  letter-spacing:2px;
}





@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Open+Sans+Condensed:300|Oswald:300');
main{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}


.contenedor{
  margin-top: 5%;
  overflow-x: hidden;
}

a:link{
  text-decoration:none;
}

.topnav {
  background-color: black;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 50px;
  z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #d8c3bb;
  letter-spacing: 3px;
  text-align: center;
  padding: 20px 38px;
  text-decoration: none;
  font-size: 12px;
  height: 50px;
  text-transform: uppercase;
}



/* Change the color of links on hover */
.topnav a:hover {
  background-color: #373737;
}

/* Add an active class to highlight the current page */
.active {

  background: url("../assets/img/nav_current.png") no-repeat scroll center top transparent;
  background-size: 106% 90%;
  border: medium none;
  color: #fff;
  padding-top: 60px;
  text-shadow: none;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav a.icon {
  float: left;
  display: block;
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {height: 100%}
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 16px 20px;
  }
  .topnav a {
    padding: 16px 20px;
  }
}


footer{
  width:100%;
  background-color: #000;
  float: left;
  margin-top: 20px;
  text-align: center;
}

.imgLogo {
  height: 25px;
}


img{
  width: 100%;
}


.info{
  text-align:right;
}

.container{
  background: url("../assets/img/header.jpg");
  width: 100%;
  padding: 1% 3% 0 3%;
  border-bottom: 5px solid #101010 ;
}
.pie{
  background: url("../assets/img/header.jpg")no-repeat center center fixed;;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  border-top: 5px solid #101010 ;
  font: 150px 'Cloister Black BT',"Times New Roman",Times,serif;
  text-align: center;
  color: #101010;
}
.pie img{
  width: 40%;
}
