<div class="index" xmlns="http://www.w3.org/1999/html">
  <div class="site col-xs-12 col-md-12" >
  {{title}}
  </div>
  <div class="pagina col-xs-12 col-md-12" >
    <div class="description col-xs-12 col-md-7" >
      <h2 mat-line> <mat-icon mat-icon>bubble_chart</mat-icon> {{empresa}}</h2>

      {{nuestraempresa}}
    </div>

    <div class="imagen col-xs-12 col-md-5" >
      <div class="principal col-xs-12 col-md-12" >
        <a class="example-image-link" href="./assets/img/info/info.png" data-lightbox="informacion"
           data-title="Click the right half of the image to move forward.">
          <img ng-box src="./assets/img/info/info.png" alt=""></a>
      </div>
      <div class="secundaria col-xs-12 col-md-4" >
        <a class="example-image-link" href="./assets/img/info/info1.png" data-lightbox="informacion"
           data-title="Click the right half of the image to move forward.">
          <img ng-box src="./assets/img/info/info1.png" alt=""></a>
      </div>
      <div class="secundaria col-xs-12 col-md-4" >
        <a class="example-image-link" href="./assets/img/info/info2.png" data-lightbox="informacion"
           data-title="Click the right half of the image to move forward.">
          <img ng-box src="./assets/img/info/info2.png" alt=""></a>
      </div>
      <div class="secundaria col-xs-12 col-md-4" >
      <a class="example-image-link" href="./assets/img/info/info3.png" data-lightbox="informacion"
         data-title="Click the right half of the image to move forward.">
        <img ng-box src="./assets/img/info/info3.png" alt=""></a>
    </div>
      </div>
  </div>
</div>
