<div class="index" xmlns="http://www.w3.org/1999/html">
  <div class="site col-xs-12 col-md-12" >
  {{title}}
  </div>
  <div class="pagina col-xs-12 col-md-12" >
    <div class="description col-xs-12 col-md-7" >
      <h2 mat-line> <mat-icon mat-icon>bubble_chart</mat-icon> {{empresa}}</h2>

      {{nuestraempresa}}
    </div>

    <div class="imagen col-xs-12 col-md-5" >
      <div class="principal col-xs-12 col-md-12" >
        <img ng-box src="./assets/img/info/info.png" alt="">
      </div>
      <div class="secundaria col-xs-12 col-md-4" >
        <img ng-box src="./assets/img/info/info1.png" alt="">
      </div>
      <div class="secundaria col-xs-12 col-md-4" >
        <img ng-box src="./assets/img/info/info2.png" alt="">
      </div><div class="secundaria col-xs-12 col-md-4" >
      <img ng-box src="./assets/img/info/info3.png" alt="">
    </div>
      </div>
  </div>

</div>
