<div class="index" xmlns="http://www.w3.org/1999/html">
  <div class="site col-xs-12 col-md-12" >
    {{title}}
  </div>
  <div class="pagina col-xs-12 col-md-12" >
    <div class="productos col-xs-12 col-md-3">
    <div id="wrapper">
      <ul class="menu">
        <li class="item1"><a href="#">Uva Blanca </a>
          <ul >
            <li class=""*ngFor="let menu of menus"><a href="#">{{menu}}</a></li>
          </ul>
        </li>
        <li class="item2"><a href="#">Uva Tinta </a>
          <ul>
            <li class="subitem1"><a href="#">Cabernet </a></li>
            <li class="subitem2"><a href="#">Chardonnay  </a></li>
            <li class="subitem3"><a href="#">Merlot </a></li>
          </ul>
        </li>
        <li class="item2"><a href="#">Uva Rosada </a>
          <ul>
            <li class="subitem1"><a href="#">Cabernet </a></li>
            <li class="subitem2"><a href="#">Chardonnay  </a></li>
            <li class="subitem3"><a href="#">Merlot </a></li>
          </ul>
        </li>
        <li class="item4"><a href="#">Almendros </a>
        </li>
      </ul>
    </div>
  </div>


    <div class="contenido col-xs-12 col-md-9"  *ngFor="let product of producto">
      <div class="nombre col-xs-12 col-md-8" >
        <h2>{{product.title}}</h2>
        <h5>{{product.variedad}}</h5>
      </div>
      <div class="foto col-xs-12 col-md-4">

        <img class="fotoim col-xs-12 col-md-12" src="./assets/img/{{product.photo}}">
      </div>
      <div class="foto col-xs-12 col-md-12">
       {{product.description}}

      </div>



    </div>











  </div>

</div>
