<div class="index" xmlns="http://www.w3.org/1999/html">
  <div class="site col-xs-12 col-md-12">
    {{title}}
  </div>

  <div class="pagina col-xs-12 col-md-12">


    <div class="productos col-xs-12 col-md-3">



         <div id="wrapper">
           <ul class="menu" *ngFor="let tipo of variedades; let i = index">
             <li (click)="cambia(i, event)"  id={{tipo.id}} class="nivel" ><a class="nivel">{{tipo.nombre}}</a>
               <ul *ngFor="let prodTipo of productos " class="menu-producto" [class.isOpened]="selected === i" >
                 <li (click)="filtra(prodTipo.title)"  *ngIf="prodTipo.variedad == tipo.nombre" [value]="prodTipo.title "><a>{{prodTipo.title}}</a>
                 </li>
               </ul>
             </li>
           </ul>
         </div>



    </div>


      <div class="contenido col-xs-12 col-md-9" *ngFor="let prod of productos | FiltrarVariedadPipe: filtrado | FiltrarSectorPipe : tipoVariedad"
         id="{{prod.id}}">


      <div class="nombre col-xs-12 col-md-8">
        <h2 class="title">{{prod.title}}</h2><h5 class="variedad">{{prod.variedad}}</h5>


        <mat-list class="superItem">
          <h3 mat-subheader>Caracteristicas:</h3>
          <mat-list-item class="lista">
            <mat-icon mat-list-icon>check mark</mat-icon>
            <h4 mat-line>{{prod.carac1}}</h4>
          </mat-list-item>
          <mat-list-item class="lista">
            <mat-icon mat-list-icon>check mark</mat-icon>
            <h4 mat-line>{{prod.carac2}}</h4>
          </mat-list-item>
        </mat-list>

        <mat-list class="superItem">
          <h3 mat-subheader>Fenología:</h3>
          <mat-list-item class="lista">
            <mat-icon mat-list-icon>scatter_plot</mat-icon>
            <h4 mat-line>{{prod.desborre}}</h4>
          </mat-list-item>
          <mat-list-item class="lista">
            <mat-icon mat-list-icon>scatter_plot</mat-icon>
            <h4 mat-line>{{prod.madura}}</h4>
          </mat-list-item>
        </mat-list>

      </div>
      <div class="foto col-xs-12 col-md-4">
        <img class="fotoim col-xs-12 col-md-12" alt="{{prod.photo}}" src="./assets/img/{{prod.photo}}">
      </div>


    </div>


  </div>

</div>
