.site {
  background: rgba(92, 66, 80, 1);
  background: -moz-linear-gradient(top, rgba(92, 66, 80, 1) 7%, rgba(246, 246, 246, 1) 68%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 72%);
  background: -webkit-gradient(left top, left bottom, color-stop(7%, rgba(92, 66, 80, 1)), color-stop(68%, rgba(246, 246, 246, 1)), color-stop(70%, rgba(255, 255, 255, 1)), color-stop(72%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(92, 66, 80, 1) 7%, rgba(246, 246, 246, 1) 68%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 72%);
  background: -o-linear-gradient(top, rgba(92, 66, 80, 1) 7%, rgba(246, 246, 246, 1) 68%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 72%);
  background: -ms-linear-gradient(top, rgba(92, 66, 80, 1) 7%, rgba(246, 246, 246, 1) 68%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 72%);
  background: linear-gradient(to bottom, rgba(92, 66, 80, 1) 7%, rgba(246, 246, 246, 1) 68%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c4250', endColorstr='#ffffff', GradientType=0);
  height: 90px;
  color: white;
  margin-top: 20px;
  text-align: center;
  line-height: 70px;
}

.pagina {
  padding: 0 10% 30px 10%;
}

.contenido {
  float: right;
}

a {
  text-decoration: none;
}

ul,
ul ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

#wrapper {
  width: 220px;
  font-size: 0.8125em;
  .menu {
    cursor: pointer;
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .73), 0px 0px 18px 0px rgba(0, 0, 0, .13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .73), 0px 0px 18px 0px rgba(0, 0, 0, .13);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .73), 0px 0px 18px 0px rgba(0, 0, 0, .13);
  }
  .menu > li > a {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)), to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
    -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    box-shadow: inset 0px 1px 0px 0px #878e98;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
  }

  .menu ul li a {
    background: #fff;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #878d95;
  }
  .menu ul li:last-child a {
    border-bottom: 1px solid #33373d;
  }

  .menu > li > a:hover,
  .menu > li > a.active,
  .menu > li > ul > li > a:hover,
  .menu > li > ul > li > a.active {
    background-color: #35afe3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)), to(rgb(38, 152, 219)));
    background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#45c7eb', EndColorStr='#2698db');
    border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    color: #fff;
  }
  .menu > li > a.active {
    border-bottom: 1px solid #1a638f;
  }

  .menu > li > a:before {
    content: '';
    background-repeat: no-repeat;
    font-size: 36px;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -.5em 0 0 0;
  }
  .menu-producto{
    display: none;
  }
  .isOpened {
    display: block;
  }
}

.item1 > a:before {
  background-position: 0 0;
}

.item2 > a:before {
  background-position: -38px 0;
}

.item3 > a:before {
  background-position: 0 -38px;
}

.item4 > a:before {
  background-position: -38px -38px;
}

.item5 > a:before {
  background-position: -76px 0;
}

.foto {
  padding: 3%;
  text-align: center;
}

.fotoim {
  border-radius: 50%;
  padding: 3px;
  width: 65%;
}

.contenido {
  padding: 2%;
}

.title, .variedad {
  display: inline;
}

.variedad {
  float: right
}

.superItem {
  margin-top: -15px;
}

.lista {
  font-size: 13px;
  margin-top: -22px;
}

////////////////////



